/*-----------------------------------------------------------------------------

KENBURNER RESPONSIVE BASIC STYLES OF HTML DOCUMENT

Screen Stylesheet

version:   	1.0
date:      	07/27/11
author:		themepunch
email:     	support@themepunch.com
website:   	http://www.themepunch.com
-----------------------------------------------------------------------------*/





  /*********************************************************************************************
		-	SET THE SCREEN SIZES FOR THE BANNER IF YOU WISH TO MAKE THE BANNER RESOPONSIVE 	-
  **********************************************************************************************/

  /*	-	THE BANNER CONTAINER (Padding, Shadow, Border etc. )	-	*/

  .bannercontainer {
		background-color:#fff;
		width:960px;
		position:relative;
		position:relative;
		margin-left:auto;
		margin-right:auto;

	}

  .banner{
		width:960px;
		height:500px;
		position:relative;
		overflow:hidden;
   }


    .bannercontainer-simple {
		padding:0px;
		background-color:#fff;
		width:960px;
		position:relative;
		position:relative;
		margin-left:auto;
		margin-right:auto;

	}

  .banner-simple{
		width:960px;
		height:500px;
		position:relative;
		overflow:hidden;
   }

 .fullwidthbanner-container{
	width:100% !important;
	position:relative;
	padding:0;
	overflow:hidden;
}

.fullwidthbanner-container .fullwidthabnner	{
	width:100% !important;
	max-height:720px !important;
	position:relative;
}



   @media only screen and (min-width: 768px) and (max-width: 959px) {

 		  .banner, .bannercontainer			{	width:760px; height:396px;}




   }

   @media only screen and (min-width: 480px) and (max-width: 767px) {
		   .banner, .bannercontainer		{	width:480px; height:250px;	}




   }

   @media only screen and (min-width: 0px) and (max-width: 479px) {
			.banner, .bannercontainer		{	width:320px;height:167px;	}




   }

  





